*{
    margin: 0;
    padding: 0;
}

.search-container{
    position: relative;
    z-index: 1;
    height: 12vh;
    background: #F3F5F5;
    width: 94vw;
    margin-left: 82px;
}

.signout-image img{
    position: absolute;
    z-index: 2;
    height: 60px;

}
.search-container p{
    font-size: 20px;

}

.screen-image img{
    position: absolute;
    z-index: 2;
    height: 60px;

}




