

.sidebar {
    height: 100vh;
    width: 10%;
    position: relative;
    top: 10%;
    left: 0;
    background-color: #1386ac;
    padding-top: 20px;
    color: white;
  }
  
  .sidebar h1 {
    text-align: center;
    margin-bottom: 10vh;
    
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    color: white;
    font-weight: bold;
  }
  
  .sidebar li {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #555;
  }
  
  .sidebar li:hover {
    background-color:  #abbeca;
    cursor: pointer;
  }
  